<style type="text/css">
  body {
         overflow:hidden;
       }

</style><iframe src="https://sites.google.com/view/privatecodinggroup/home" style="min-height:100vh;width:100%" frameborder="0"></iframe>